/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

/* HEADER */
/* flex property nav*/
.flex-nav{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

nav { 
    background-color: #265ee9;
    padding: .9rem 0 .9rem 0;
}

.left{
    width: 20%;
    text-align: left;
}

/* flex property links */
.flex-links {
    display: flex;
    justify-content: space-around;
}

.links {
    width: 40%;
    list-style-type:none;
}

li a {
    text-decoration: none;
    color: white;
}

.right {
    width: 20%;
    text-align: right;
}

.right a {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 1rem;
    padding: .5rem 1rem .5rem 1rem;
}

.right,
.left,
.links {
    padding: 5px;
}

/* HERO */
.front {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 2rem 0 2rem 0;
}

.front-container {
    width: 58%;
    min-height: 450px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.front-container h2 {
    font-size: 3.2rem;
    padding: 5rem 0 2rem 0;
}

.front-container p { 
    padding: 0 0 2rem 0;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.front-container a {
    text-decoration: none;
    border-radius: 1.7rem;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.mac {
    display: inline-block;
    color: black;
    background-color: white;
}

.arrow {
    padding-right: 0.5rem;
}

.browser {
    display: inline-block;
    color: white;
    background-color: black;
}

/* MAIN */
/* flex property section*/
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padd {
    padding: 5rem 0 5rem 0;
}

.first-section > div {
    padding: 5rem 0 2rem 0;
    text-align: left;
}

.title2 {
    font-size: 3.2rem;
}
.text {
    padding: 2rem 0 2rem 0;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.wave-up{
    display: block;
    width: 100%;
    filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(155deg) brightness(109%) contrast(93%);

}

.wave-down {
    display: block;
    width: 100%;
    filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(155deg) brightness(109%) contrast(93%);
    transform: scale(1,-1);
}

.even{
    background-color:#f6f6f6;
}

.big{
    width: 35%;
}

.small {
    width: 30%;
}

.second-section {
    text-align: center;
}

.extrabig {
    width: 65%;
    margin: 0 auto;
}

.ready {
    background-image: url(../img/stars.svg);
    background-position:top;
    background-repeat: no-repeat;
    font-size: 1.7rem;
    padding: 2rem 0;
}

.blu-link-button {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: hsl(226.73deg 58.43% 65.1%);
    border-radius: 1rem;
    padding: .5rem 1rem .5rem 1rem;
}

/* FOOTER */
/* flex property group*/
footer {
    background-color: black;
    padding: 1rem 0 1rem 0;
}

.flex-group {
    display: flex; 
    justify-content: center;
}

.big-col {
    width: 25%;
}

h3 {
    color: hsl(226.73deg 58.43% 65.1%);
    font-size: 1.8rem;
    padding: 2rem 0 1rem 0;
}

.language {
    padding-bottom: 1rem;
    font-size: .9rem;
}

.ita {
    width: 1rem;
}

.space {
    padding-right: 1rem;
}

div i,
footer p,
footer li {
    color: white;
}

.col {
    width: calc(40% / 4);
    font-size: .8rem;
    padding: 0 2rem;
}

.list-cont {
    list-style-type: none;
    line-height: 2.5rem;
}

.top {
    color: hsl(226.73deg 58.43% 65.1%);
}

.foothr {
    border: 1px solid rgb(88, 88, 88);
    margin: 1rem auto;
    width: 65%;
}

/* flex property foot */
.flex-foot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.foot {
    width: 65%;
    margin: 0 auto;
}

.foot-logo {
    padding: .2rem
}